<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="favicon" type="image/png" href="static/img/icon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/style.css" />
    <title>NutriLog | When Health meets Minimalism</title>
    <script defer src="static/script.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <img src="static/img/navbar_logo.png" alt="logo" class="nav__logo" />
      </nav>
      <div>
        <form>
          <label>What exercise did you do today?</label>

        </form>
      </div>
    </header>
  </body>
</html>
